<div [class]="appService.theme">
    <mat-card class="mat-card-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5>Nueva Mesa</h5>
                <h5 class="table-name"><i class="fa-beer fas"></i>Formulario para crear una nueva mesa</h5>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </mat-card>
</div>