<div>    
    <mat-icon [matMenuTriggerFor]="menu">fiber_manual_record</mat-icon>
    <mat-menu #menu="matMenu">
        <mat-icon id="candy-theme" (click)="themeTogle($event)">fiber_manual_record</mat-icon>
        <mat-icon id="dark-theme" (click)="themeTogle($event)">fiber_manual_record</mat-icon>
        <mat-icon id="light-theme" (click)="themeTogle($event)">fiber_manual_record</mat-icon>
    </mat-menu>

    <mat-icon 
        aria-hidden="false" 
        aria-label="notifications" [routerLink]="['/welcome']" routerLinkActive="router-link-active">
        notifications
    </mat-icon>
    <ng-container 
        *ngIf="!getAuthService().checkLogin() ; else loggedOut">
        <mat-icon class="power-on" 
        aria-hidden="false" aria-label="power" routerLink="/acces/login">
        power_settings_new
        </mat-icon>
    </ng-container>
    <ng-template #loggedOut>
        <mat-icon 
            aria-hidden="false" aria-label="person">
            person
        </mat-icon>
        <mat-icon 
            class="power-off" 
            aria-hidden="false" aria-label="power" routerLink="/acces/logout">
            power_settings_new
        </mat-icon>
    </ng-template>
</div>