.mat-card{
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    cursor: pointer;
    padding: 0px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;

    &:hover{
        color: $primary-color;
        background: $accent-color;
    }   

    .mat-card-subtitle {
        margin-bottom: 8px;
        text-align: center;
        margin-top: 0px;
    }

    .mat-card-image {
        width: calc(100%);
        margin: 0;
        height: 130px;
        max-height: 140px;
    }

    .mat-card-title {
        font-size: 14px !important;
        margin: 0 4px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 85px;
    }    
}
