.modal-header, .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header{
    padding: 0.2rem 1rem 0.2rem 0.1rem;
}

.container-icon{    
    padding: 7px 7px 7px 7px;

    .material-icons{
        font-size: 36px;
    }
}

.modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}


.alert-success{ .container-icon{ border-left: 6px#155724 solid; } }
.alert-warning{ .container-icon{ border-left: 6px#856404 solid;} }

