.alert-container {
    z-index: 2001;
}
.modal-header, .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-header{
    padding: 0.2rem 1rem 0.2rem 0.1rem;
}

.container-icon{    
    padding: 7px 7px 7px 7px;

    .material-icons{
        font-size: 36px;
    }
}

.modal-body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-primary{ .container-icon{ border-left: 6px#004085 solid; } }
.alert-secondary{ .container-icon{ border-left: 6px#1b1e21 solid; } }
.alert-success{ .container-icon{ border-left: 6px#155724 solid; } }
.alert-danger{ .container-icon{ border-left: 6px#721c24 solid; } }
.alert-warning{ .container-icon{ border-left: 6px#856404 solid;} }
.alert-dark{ .container-icon{ border-left: 6px#1b1e21 solid;} }
.alert-light{ .container-icon{ border-left: 6px #818182 solid;} }


