.table-name{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.container{
  border: 1px solid $primary-color;
  cursor: pointer;
}

.container:hover{
  box-shadow: 0px 3px 5px -1px $accent-color, 0px 6px 10px 0px $accent-color, 0px 1px 18px 0px $accent-color;
}

.pub-table-conteiner {
  border-radius: 3px;
  .row{
    >div{
      text-align: left;
      padding-right: 5px;
      padding-left: 5px;
    }
    .align-table-center{
      text-align: center;
    }
  }

}


.service-open{
  background-color: $accent-color;
}

// Se asigna con la directiva highlight
.select-table{
  background-color: $primary-color;
  color: $accent-color;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.buttons-table{
  justify-content: space-evenly;
  align-items: center;
  button{
    z-index: 1;
    color: $primary-color;
  }
  button:hover{
    background-color: $primary-color;
    color: $accent-color;
    box-shadow: 0px 3px 5px -1px $accent-color, 0px 6px 10px 0px $accent-color, 0px 1px 18px 0px $accent-color;
  }
}

.service-conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-container{
  width: 100%;
}

.card-customer{
  padding: 2px;
  padding-right: 5px;
  padding-left: 15px;
  margin-bottom: 5px;
  z-index: 1;
  color: $primary-color;
  background-color: $accent-color;
  &:hover{
    box-shadow: 0px 3px 5px -1px $primary-color, 0px 6px 10px 0px $primary-color, 0px 1px 18px 0px $primary-color;
  }
}
