<div [appHighlight]="tableService.table.id === table.id" [ngClass]="{'service-open': service}"
  class="container pub-table-conteiner noselect"
  (dblclick)="service ? openOrder($event) : openService($event)">
  <div class="row">
    <div (click)="selectTable($event)" class="col-md-2 table-name">
      <i class="{{table.icon}}"></i>
    </div>
    <div class="col table-name">
      {{table.name}}
    </div>
  </div>

  <div *ngIf="!orderservice; else serviceConteiner" class="service-conteiner">
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
  <ng-template #serviceConteiner>
    <div class="row" *ngIf="orders.length">
      <div class="col-md-12 table-name align-table-center">
        {{service.name}}
      </div>
      <div class="col-md-12 table-name align-table-center">
        Por Pagar {{sumPrice |  currency:'USD':'symbol':'1.0-0'}}
      </div>
    </div>
  
    <!-- Opciones de servicio -->
    <p></p>
    <div *ngIf="orders.length" class="row buttons-table">
      <button 
        mat-mini-fab
        (click)="showService($event)"
        matTooltip="Servicio">
        <mat-icon>date_range</mat-icon>
      </button>
  
      <button mat-mini-fab (click)="addMusicTrack($event)" matTooltip="Musiquita">
        <mat-icon>headset</mat-icon>
      </button>
  
      <button mat-mini-fab (click)="openOrder($event)" matTooltip="Nueva Orden">
        <mat-icon>note_add</mat-icon>
      </button>
  
      <button mat-mini-fab (click)="closeService($event)" matTooltip="Cerrar Servicio">
        <mat-icon>cancel</mat-icon>
      </button>
  
    </div>
  </ng-template>

  
</div>
