<div [class]="appService.theme">
    <mat-card class="mat-card-content">
        <div class="modal-header">
            <div class="modal-title">
                <h5>Adminstrador de Cierres</h5>
            </div>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <mat-card class="current-work">
                <div class="row">
                    <div class="col-md-3">
                        Labor actual:
                    </div>
                    <div class="col-md-9">
                        {{closure.name}} - {{closure.date_open}}
                    </div>
                    <div class="col-md-9 offset-md-3">{{closure.description}}</div>
                    <div class="col-md-12 button-close-work">
                        <button type="button" ngbAutofocus class="btn btn-light" (click)="closeWork($event)">Cerrar labor </button>
                    </div>
                </div>
            </mat-card>
            <mat-tab-group (selectedIndexChange)="changeTab($event)">
                <mat-tab label="Crear Labor">
                    <br>
                    <form [formGroup]="closureForm"  (ngSubmit)="onSubmit($event)">
                        <div class="form-group example-container">
                            <mat-form-field>
                                <input appControlRequired matInput type="text" placeholder="Nombre:" value="" formControlName="name"
                                    [autofocus]="'true'">
                                <mat-error>El campo es <strong>requerido</strong></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group example-container">
                            <mat-form-field>
                                <textarea matInput placeholder="Description:" value=""
                                    formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Lista de Cierres">
                    Content 2
                </mat-tab>
            </mat-tab-group>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close click')"> Cerrar </button>
            <button *ngIf="showAccept" type="button" ngbAutofocus class="btn btn-light" (click)="onSubmit($event)">
                Crear nueva labor </button>
        </div>
    </mat-card>
</div>