// Correccines de estilo
.mat-toolbar-row, .mat-toolbar-single-row{
    padding: 0 0px;
}
.toolbar {
    // background-color: $background-color;
    // position: absolute;
    width: 100%;
    top: 0px;
    z-index: 2;
    // height: $toolbar-height;
    display: flex;
    align-items: center;
    color: #575756;
    font-size: 28px;
    img{
        cursor: pointer;
        width: 40px;
        border-radius: 50%;
        padding: 4px;
        &:hover{
            background: $icon-colors-background;
        }
        
        &:active{
            width: 36px;
            -webkit-box-shadow: 2px 2px 6px 0px $icon-colors;
            -moz-box-shadow: 2px 2px 6px 0px $icon-colors;
            box-shadow: 2px 2px 6px 0px $icon-colors;
            margin-right: 4px;           
        }
    }
}

.title-span{
    cursor: pointer;
    font-weight: 300;
}

.spacer-min {
    flex: 0.01;
}

.spacer {
    flex: 0.97;
}

.mat-icon{
    color: $primary-color;
    background: $accent-color;
    margin: 2px;
    margin-right: 10px;
    padding: 3px;
    border-radius: 50%;
    font-size: 32px;
    height: 37px;
    width: 37px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    cursor: pointer;
    
    &:hover {
        background: $icon-colors;
        color: $icon-colors-background;
        -webkit-box-shadow: 2px 2px 6px 0px $icon-colors;
        -moz-box-shadow: 2px 2px 6px 0px $icon-colors;
        box-shadow: 2px 2px 6px 0px $icon-colors;
    }

    &:active{
        font-size: 30px;
        height: 34px;
        width: 34px;
        padding: 2px;
        margin-left: 4px;
        margin-right: 11px;
    }
}