.toolbar {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 2;
    height: $toolbar-height;
    display: flex;
    align-items: center;
    // background-color: #eee;
    color: #575756;
    font-size: 28px;
    // padding-left: 11px;
    img{
        cursor: pointer;
        width: 40px;
        border-radius: 50%;
        padding: 4px;
        &:hover{
            background: $icon-colors-background;
        }
        
        &:active{
            width: 36px;
            -webkit-box-shadow: 2px 2px 6px 0px $icon-colors;
            -moz-box-shadow: 2px 2px 6px 0px $icon-colors;
            box-shadow: 2px 2px 6px 0px $icon-colors;
            margin-right: 4px;           
        }
    }
}

.spacer {
    flex: 0.97;
}

.sidenav-toggle{
    // box-shadow: $shadow-left-toolbar 2px 6px 0px $shadow-color;
}