<div *ngIf="sourceTable.flagSearch" class="row">
    <div class="col-md-10">
        <mat-form-field>
            <mat-label>{{sourceTable.search}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" (keyup.enter)="applyFilterClick($event)"
                placeholder="{{sourceTable.searchPlaceholder}}">
        </mat-form-field>
    </div>
    <div class="col-md-2 conteiner-options">
        <mat-slide-toggle [checked]="searchFlag" (change)="toggleChangeSearch($event)" matTooltip="Buscador automático">
        </mat-slide-toggle>
        <mat-icon class="mat-icon-option" aria-hidden="false" aria-label="notifications" matTooltip="Nueva mesa"
            [matTooltipPosition]="'above'" (click)="createElement($event)">
            add_circle_outline
        </mat-icon>
        <mat-icon class="mat-icon-option" aria-hidden="false" aria-label="notifications" matTooltip="Editar mesa"
            [matTooltipPosition]="'above'" (click)="editElement($event)">
            build
        </mat-icon>
        <mat-icon class="mat-icon-option" aria-hidden="false" aria-label="notifications" matTooltip="Eliminar mesa"
            [matTooltipPosition]="'above'" (click)="deleteElement($event)">
            delete
        </mat-icon>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
            
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container *ngFor="let column of sourceTable.displayedColumns">
                
                <ng-container *ngIf="column !== 'options' && column !== 'select'" matColumnDef="{{column}}">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                </ng-container>

                <ng-container *ngIf="column === 'options'" matColumnDef="options">
                    <th mat-header-cell *matHeaderCellDef class="th-options"> Opciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngFor="let el of element[column]" mat-mini-fab [matTooltipPosition]="'above'"
                            matTooltip="{{el.tittle}}">
                            <mat-icon>{{el.icon}}</mat-icon>
                        </button>
                    </td>
                </ng-container>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="sourceTable.displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: sourceTable.displayedColumns;" (click)="selection.toggle(row)">
            </tr>
        </table>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageIndex]="sourceTable.page"
            [length]="sourceTable.total" [pageSize]="sourceTable.limit" showFirstLastButtons
            (page)="paginatorEvent($event)"></mat-paginator>
    </div>
</div>