table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-icon-option{
    cursor: pointer;
}

.conteiner-options{
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .mat-icon {
        margin-right: 5px;
    }
}
