<div *ngIf="authService.checkLogin()" class="content-sidenav">
    
    <mat-icon 
        aria-hidden="false" 
        aria-label="notifications"
        matTooltip="Bar"
        [matTooltipPosition]="'right'"
        [routerLink]="['lounge']">
        web
    </mat-icon>

    <mat-icon 
        *ngFor="let permit of user.permits; let i = index"
        id = "{{permit.id}}"
        aria-hidden="false" 
        aria-label="Example home icon"
        matTooltip="{{permit.name}}"
        [matTooltipPosition]="'right'"
        (click) = "toModule($event)">
        {{permit.label.maticon}}
    </mat-icon>
</div>
