<ng-template #modalLogin let-modal>
    <div class="modal-header">
        <img alt="Cocolu Logo" src="assets/img/palms.png" />
        <h4 class="modal-title" id="modal-basic-title">Acceso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput type="email" placeholder="Usuario:" value="" formControlName="email" autofocus>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [type]="hide ? 'password': 'text'" placeholder="Contraseña:" value="" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility':'visibility_off'}}</mat-icon>
            </mat-form-field>
            <mat-slide-toggle color="accent" formControlName="remenber_me">Recordar Contraseña!</mat-slide-toggle>        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ngbAutofocus
            (click)="modal.close('Login click')">Cancelar</button>
        <button type="button" class="btn btn-light" [disabled]="!loginForm.valid || buttonAccept"
            (click)="onSubmit($event)">Aceptar</button>
    </div>
</ng-template>