<app-toolbarr [sidenav]="sidenav" [title]="title"></app-toolbarr>
<section class="section">
  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav [mode]="'over'">
      <mat-icon aria-hidden="false" aria-label="Example home icon">notifications</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon">power_settings_new</mat-icon>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</section>