/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/material.theme.css";

// @import './assets/scss/config.scss';

@import "./assets/scss/functions.scss";
@import "~@angular/material/theming";


.pink-theme {
    @import "./assets/themes/pink-theme.scss";
    @include angular-material-theme($pink-theme);
    @include generate-theme-vars($pink-theme);
}

.indigo-theme {
    @import "./assets/themes/indigo-theme.scss";
    @include angular-material-theme($indigo-theme);
    @include generate-theme-vars($indigo-theme);
}

.blue-gray-theme {
    @import "./assets/themes/blue-gray-theme.scss";
    @include angular-material-theme($blue-gray-theme);
    @include generate-theme-vars($blue-gray-theme);
}

.deep-orange-theme {
  @import "./assets/themes/deep-orange-theme.scss";
  @include angular-material-theme($deep-orange-theme);
  @include generate-theme-vars($deep-orange-theme);
}

.teal-green-theme {
  @import "./assets/themes/teal-green-theme.scss";
  @include angular-material-theme($teal-green-theme);
  @include generate-theme-vars($teal-green-theme);
}

.purple-theme {
  @import "./assets/themes/purple-theme.scss";
  @include angular-material-theme($purple-theme);
  @include generate-theme-vars($purple-theme);
}

.yellow-theme {
  @import "./assets/themes/yellow-theme.scss";
  @include angular-material-theme($yellow-theme);
  @include generate-theme-vars($yellow-theme);
}

.purple-dark-theme {
  @import "./assets/themes/purple-dark-theme.scss";
  @include angular-material-theme($purple-dark-theme);
  @include generate-theme-vars($purple-dark-theme);
}

.deep-orange-dark-theme {
  @import "./assets/themes/deep-orange-dark-theme.scss";
  @include angular-material-theme($deep-orange-dark-theme);
  @include generate-theme-vars($deep-orange-dark-theme);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // color: $accent-color
}



/* modal animation */
.modal{
    animation-name: open;
    animation-duration: 0.6s;
}

@keyframes open {
    0%   {transform: scale(0.5)}
    100% {transform: scale(1)}
}

.modal.fade{
    animation-name: close;
    animation-duration: 0.6s;
}

@keyframes close {
    100% {transform: scale(1)}
    0%   {transform: scale(0.5)}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

