@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Set variables to whatever colors you want for your app
$blue-gray-primary: mat-palette($mat-blue-grey, 400);
$blue-gray-accent: mat-palette($mat-blue-grey, 100);
$blue-gray-warn: mat-palette($mat-blue-grey, 900);

$blue-gray-theme: mat-light-theme(
    $blue-gray-primary,
    $blue-gray-accent,
    $blue-gray-warn,
);

.color-primary {
    background-color: mat-color($blue-gray-primary);
}

@include angular-material-theme($blue-gray-theme);
