@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$pink-primary: mat-palette($mat-pink, 400);
$pink-accent:  mat-palette($mat-pink, 100);
$pink-warn: mat-palette($mat-pink, 900);
$pink-theme:   mat-light-theme($pink-primary, $pink-accent, $pink-warn);

.color-primary {
    background-color: mat-color($pink-primary);
}

// Include the default theme styles.
@include angular-material-theme($pink-theme);
